.gellery {
  background-color: aquamarine;
  padding: 80px 0;
}
img {
  max-width: 100%;
}
.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgb(0, 0, 0, 3);
}
